<h1 class="text-3xl font-bold underline">
  Todos
</h1>

<!-- <mat-spinner *ngIf="loading$ | async" color="warn"></mat-spinner> -->

<!-- <ul>
  <li *ngFor="let t of todos" class="todo">{{ t.title }}</li>
</ul> -->

<ul>
  <li *ngFor="let t of todos$ | async" class="todo">{{ t.title }}</li>
</ul>

<button mat-raised-button color="primary" id="add-todo" (click)="addTodo()">Add Todo</button>

<div class="flex space-x-2 justify-center">
  <button disabled
    type="button"
    data-mdb-ripple="true"
    data-mdb-ripple-color="light"
    class="ripple-bg-gray-300 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg"
  >
    <svg class="animate-spin h-5 w-5 mr-3" viewBox="0 0 24 24">
      <!-- ... -->
    </svg>
    Button
  </button>
</div>
<button class="ripple-bg-gray-300">
    Hover me for a lighter background, click me for a ripple effect
</button>

<!-- In case something is broken -->
<mathpoc-something-is-broken
  *ngIf="errors.somethingIsBroken.statusCode"
  [statusCode]="errors.somethingIsBroken.statusCode"
  [statusMessage]="errors.somethingIsBroken.statusMessage"
>
</mathpoc-something-is-broken>

<!-- <div *ngIf="errors.somethingIsBroken.statusCode" class="bob">Error!</div>
<div *ngIf="errors.somethingIsBroken.statusCode" class="bob">{{ errors | json }}</div> -->

<div class="relative rounded-xl overflow-auto p-8">
  <div class="flex items-center justify-center">
    <button type="button" class="inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm shadow rounded-md text-white bg-indigo-500 hover:bg-indigo-400 transition ease-in-out duration-150 cursor-not-allowed" disabled="">
      <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
      Processing...
    </button>
  </div>
</div>

<div class="relative rounded-xl overflow-auto p-8">
  <div class="flex items-center justify-center">
    <span class="relative inline-flex">
      <button type="button" class="inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm shadow rounded-md text-sky-500 bg-white dark:bg-slate-800 transition ease-in-out duration-150 cursor-not-allowed ring-1 ring-slate-900/10 dark:ring-slate-200/20" disabled="">
        Transactions
      </button>
      <span class="flex absolute h-3 w-3 top-0 right-0 -mt-1 -mr-1">
        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></span>
        <span class="relative inline-flex rounded-full h-3 w-3 bg-sky-500"></span>
      </span>
    </span>
  </div>
</div>

<div class="border border-blue-300 shadow rounded-md p-4 max-w-sm w-full mx-auto">
  <div class="animate-pulse flex space-x-4">
    <div class="rounded-full bg-slate-700 h-10 w-10"></div>
    <div class="flex-1 space-y-6 py-1">
      <div class="h-2 bg-slate-700 rounded"></div>
      <div class="space-y-3">
        <div class="grid grid-cols-3 gap-4">
          <div class="h-2 bg-slate-700 rounded col-span-2"></div>
          <div class="h-2 bg-slate-700 rounded col-span-1"></div>
        </div>
        <div class="h-2 bg-slate-700 rounded"></div>
      </div>
    </div>
  </div>
</div>
